## Data Preparation

In [1]:
categories = ['negative', 'positive']

In [11]:
data = []
target_names = []

with open("./sentiment labelled sentences/amazon_cells_labelled.txt", encoding="utf-8") as f:
    for line in f:
        (text, answer) = line.split('\t')
        data.append(text)
        target_names.append(int(answer[:-1]))

with open("./sentiment labelled sentences/imdb_labelled.txt", encoding="utf-8") as f:
    for line in f:
        (text, answer) = line.split('\t')
        data.append(text)
        target_names.append(int(answer[:-1]))
        
with open("./sentiment labelled sentences/yelp_labelled.txt", encoding="utf-8") as f:
    for line in f:
        (text, answer) = line.split('\t')
        data.append(text)
        target_names.append(int(answer[:-1]))

dictionary = {}
dictionary['data'] = data
dictionary['target_names'] = target_names

In [3]:
dictionary['data'][0:10]

['So there is no way for me to plug it in here in the US unless I go by a converter.',
 'Good case, Excellent value.',
 'Great for the jawbone.',
 'Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!',
 'The mic is great.',
 'I have to jiggle the plug to get it to line up right to get decent volume.',
 'If you have several dozen or several hundred contacts, then imagine the fun of sending each of them one by one.',
 'If you are Razr owner...you must have this!',
 'Needless to say, I wasted my money.',
 'What a waste of money and time!.']

In [4]:
dictionary['target_names'][0:10]

[0, 1, 1, 0, 1, 0, 0, 1, 0, 0]

In [5]:
for i in range(10):
    print(categories[dictionary['target_names'][i]])

negative
positice
positice
negative
positice
negative
negative
positice
negative
negative

In [37]:
import pandas as pd
X = pd.DataFrame(data, columns=['text'])
print(len(X))
print(X[0:10])

3000
                                                text
0  So there is no way for me to plug it in here i...
1                        Good case, Excellent value.
2                             Great for the jawbone.
3  Tied to charger for conversations lasting more...
4                                  The mic is great.
5  I have to jiggle the plug to get it to line up...
6  If you have several dozen or several hundred c...
7        If you are Razr owner...you must have this!
8                Needless to say, I wasted my money.
9                   What a waste of money and time!.

In [38]:
X['category'] = target_names

temp_list = []
for i in target_names:
    temp_list.append(categories[target_names[i]])
X['category_name'] = temp_list
X

,text,category,category_name
0,So there is no way for me to plug it in here i...,0,negative
1,"Good case, Excellent value.",1,positice
2,Great for the jawbone.,1,positice
3,Tied to charger for conversations lasting more...,0,negative
4,The mic is great.,1,positice
...,...,...,...
2995,I think food should have flavor and texture an...,0,negative
2996,Appetite instantly gone.,0,negative
2997,Overall I was not impressed and would not go b...,0,negative
2998,"The whole experience was underwhelming, and I ...",0,negative
2999,"Then, as if I hadn't wasted enough of my life ...",0,negative

## Data Mining using Pandas

### Missing Values

In [18]:
X.isnull().sum()

text             0
category         0
category_name    0
dtype: int64

In [19]:
dummy_dict = [{'text': 'dummy_record',
               'category': 1
              }]

In [20]:
X = pd.concat([X, pd.DataFrame(dummy_dict)], ignore_index=True)

In [21]:
X.isnull().sum()

text             0
category         0
category_name    1
dtype: int64

In [22]:
X.dropna(inplace=True)

In [24]:
X.isnull().sum()
print(len(X))

3000

### Dealing with Duplicate Data

In [39]:
sum(X.duplicated())

17

In [43]:
# find which ones are duplicated
X[X.duplicated(keep=False)].sort_values("text")

,text,category,category_name
1788,10/10,1,positice
1125,10/10,1,positice
1363,Definitely worth checking out.,1,positice
1090,Definitely worth checking out.,1,positice
748,Does not fit.,0,negative
446,Does not fit.,0,negative
180,Don't buy this product.,0,negative
543,Don't buy this product.,0,negative
402,Excellent product for the price.,1,positice
892,Excellent product for the price.,1,positice
792,Great Phone.,1,positice
290,Great Phone.,1,positice
285,Great phone!.,1,positice
187,Great phone!.,1,positice
896,Great phone.,1,positice
647,Great phone.,1,positice
2334,I love this place.,1,positice
2814,I love this place.,1,positice
2380,I won't be back.,0,negative
2843,I won't be back.,0,negative
2505,I would not recommend this place.,0,negative
2846,I would not recommend this place.,0,negative
744,If you like a loud buzzing to override all you...,0,negative
179,If you like a loud buzzing to override all you...,0,negative
1572,Not recommended.,0,negative
1585,Not recommended.,0,negative
2383,The food was terrible.,0,negative
2816,The food was terrible.,0,negative
778,This is a great deal.,1,positice
392,This is a great deal.,1,positice
524,Works great!.,1,positice
18,Works great!.,1,positice
407,Works great.,1,positice
262,Works great.,1,positice

In [35]:
# keep參數，default "First"為第一個之後重複的都刪除
X.drop_duplicates(inplace=True)

In [36]:
print(sum(X.duplicated()))
print(len(X))

0
2983

## Data Preprocessing